.u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-1 .u-text-1 {
  width: 745px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-4-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4-1 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-4-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2.jpg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 290px 152px 0 198px;
}

.u-section-4-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4-2 .u-text-1 {
    width: 745px;
    margin-left: 98px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-4-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-3 .u-text-1 {
  width: 745px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-4-3 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4-3 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/HomePic.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-image-1 {
  width: 262px;
  height: 170px;
  animation-duration: 1000ms;
  margin: 210px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 14px 233px 60px 262px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-image-1 {
    position: relative;
  }

  .u-section-1 .u-text-1 {
    margin-left: 162px;
    margin-right: 133px;
    width: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 52px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 114px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 120px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: url("images/pexelsphoto1029606.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 388px;
}

.u-section-2 .u-text-1 {
  margin: 115px auto 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 322px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 750px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-3 .u-image-1 {
  min-height: 315px;
  background-image: url("images/Real-Estate-Agent-Business-India.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-3 .u-image-2 {
  min-height: 315px;
  background-image: url("images/Difference-Between-Property-and-Real-Estate_1-1024x660.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }

  .u-section-3 .u-btn-2 {
    height: 38px;
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-block-295d-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-295d-3 {
  position: absolute;
  left: 0;
}

.u-block-295d-4 {
  position: absolute;
  right: 0;
}